.mid2{
  text-align: center;
}

.card1stack{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


@media only screen and (max-width:775px) {
  .card1stack{

    grid-template-columns: 1fr ;
  }

  }
